<div class="container">
    <div>
        <h2>Estudios</h2>
        <button (click)="crearEstudio()">Crear</button>
    </div>
    <div *ngFor="let estudio of estudios">
        <div class="row">
            <div class=" xs-4 col-3 imgtitulo">
                <img src="../../../assets/{{estudio.imagen}}" alt="icono" class="img-fluid"> 
            </div>
            <div class="xs-8 col-9 " id="estudio">
                <p>{{estudio.titulo}}</p>
                <p>{{estudio.lugar}}</p>
                <p>{{estudio.ini_est}} - {{estudio.fin_est}}</p>
            </div>
            <button (click)="editarEstudio(estudio)"> Editar</button>
            <button (click)="borrarEstudio(estudio)"> Borrar</button>
           
        </div>
    </div>
    <a href="">Volver al Inicio</a>
</div>
