
.row{
    padding: 15px;
    border: solid 1px;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    width: 100%;
}

h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}


.imgtitulo{
    align-items: center;
    text-align: center;
}

.imgtitulo p .estudio{
    padding: 0%;
}


