.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(190,190,190);

}

button{
    background-color: rgb(152, 240, 240);
}
#menu{
    background-color: rgb(190, 190, 190);
}

nav{
    background: rgb(190,190,190);
}
a{
    font-weight: bold;
    color: rgb(48, 2, 107);
}
a:hover{
    background-color: rgb(188, 253, 188);
}

.nav-item{
    margin-top: 10px;
}
button{
    margin-bottom: 10px;
}