
<header>
   <div class="container">
    <div class="row container-fluid">
      <div class="col xs-4 xm-8 ">
          <p>Inicio</p>
      </div>
      <div class="col xs-4 xm-8">
        <p>Sobre mi</p>
      </div>
      <div class="col  xs-4 xm-8">
        <p>Estudios</p>
      </div>
      <div class="col xs-4 xm-8" id="explaboral">
        <p>Experiencia laboral</p>
      </div>
      <div class="col xs-4 xm-8" id="capacitacion">
        <p>Capacitaciones</p >
      </div>
      <div class="col xs-4 xm-8">
        <p>Contacto</p>
      </div>
    </div>
  </div>
</header>