
<div class="container col-md-6">
    <form action="">
        <div class="form-group">
            <label for="titulo">titulo</label>
            <input type="text" class="form-control" [(ngModel)]="nuevoEstudio.titulo" name="titulo" >
        </div>
        <div class="form-group">
            <label for="">lugar</label>
            <input type="text" class="form-control" [(ngModel)]="nuevoEstudio.lugar" name="lugar" >
        </div>
        <div class="form-group">
            <label for="">inicio</label>
            <input type="text" class="form-control" [(ngModel)]="nuevoEstudio.ini_est" name="inicio">
        </div>
        <div class="form-group">
            <label for="">fin</label>
            <input type="text" class="form-control" [(ngModel)]="nuevoEstudio.fin_est" name="fin">
        </div>
        <div class="form-group">
            <label>imagen</label>
            <input class="form-control" type="file" id="formFile"[(ngModel)]="nuevoEstudio.imagen" name="imagen">
        </div>
        <button (click)="guardarCambios(nuevoEstudio)">Guardar</button>
        <button routerLink="/estudios" >Cancelar</button>
    </form>

    <div class="row">
        <div class=" xs-4 col-3 imgtitulo">
            <img src="../../../assets/{{nuevoEstudio.imagen}}" alt="icono" class="img-fluid"> 
        </div>
        <div class="xs-8 col-9 " id="estudio">
            <p>{{nuevoEstudio.titulo}}</p>
            <p>{{nuevoEstudio.lugar}}</p>
            <p>{{nuevoEstudio.ini_est}} - {{nuevoEstudio.fin_est}}</p>
        </div>
    </div>

</div>
