.container{
    border: solid 1px;
    border-radius: 5%;
    background-color: rgb(250, 227, 227);
    padding-top: 20px;
}

button{
    margin: 10px;
}
h2{
    font-weight: bold;
    text-align: center;
    background-color: rgb(190,190,190);
}
#estudio{
    font-weight: bold;
}
