nav{
    background-color: coral;
}

.principal{
    width:auto;
    background-color: blue;
    display: flex;
    height:100%;

}
.secundaria{
    width: 50%;
    display: flex;
    height: auto;
    color:aliceblue;
}
.derecha{
    width: 50%;
    background-color: brown;
}

