<div class="container">
  <div class="cabecera">
    <h2>Experiencia Laboral</h2>
    <a href="portfolio"><i class="bi bi-house-fill"></i></a>
  </div>
  <hr>
  <button (click)="crearExp()" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i> Agregar</button>
  <div *ngFor="let exp of experiencias">
    <div class="row">
        <div class=" xs-4 col-3 imgexp">
            <img src="../../../assets/{{exp.imagen}}" alt="icono" class="img-fluid"> 
        </div>
        <div class="xs-8 col-9 " id="experiencia">
            <p>{{exp.empresa}}</p>
            <p>{{exp.puesto}}</p>
            <p>{{exp.tarea}}</p>
            <p>{{exp.fec_ini}} - {{exp.fec_fin}}</p>
        </div>
        <div class="botones">
          <button (click)="editarExp(exp)" class="btn btn-outline-success" ><i class="bi bi-pencil-fill"></i> Editar</button>
          <button (click)="borrarExp(exp)" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i> Borrar</button>
        </div>
    </div>
</div>
</div>
