

.row{
    padding: 15px;
    border: solid 1px;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    width: 80%;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

img{
    width: 100%;
    height: auto;
}

p{
    text-align: left;
}

