<div class="container">
  <div class="row">
    <h2>Sobre mi...</h2>
    <div class="col-2">
      <img src="../../../assets/montana.jpg" alt="icono" class="img-fluid"> 
    </div>
    <div class="col-4 nombre">
      <p>Emilio Jerez</p>
      <p>Programador Universitario</p>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatum 
        expedita dolores officiis, sint mollitia vero delectus cum quia voluptatem 
        quas officia iusto quisquam magni odio consectetur repellat possimus doloremque.</p>
    </div>
  </div>
  <a href="">Volver al Inicio</a>
</div>
