<div class="container">
  <div class="row">
    <h2>Sobre mi...</h2>
    <div class=" col-sm-8 col-lg-3">
      <img src="../../../assets/soyyo.jpg" alt="icono" class="img-fluid">
    </div>
    <div class="col-sm-6 col-lg-3 nombre">
      <h4>{{personas[0].nombre}}</h4>
      <p><b>Programador Universitario</b></p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <p>Soy de Tafí Viejo – Tucumán - Argentina, tengo 44 años. Me recibí de <strong> Programador Universitario </strong> en el año 2001.
        Trabaje en la parte comercial por lo que decidí tomar este curso para poder actualizarme en las nuevas
        tecnologías, para tratar de trabajar de lo que me gusta.</p>
    </div>
  </div>
  <br>
  <a href="">Volver al Inicio</a>
</div>
