

body{
    margin:0;
    box-sizing:border-box;
    padding: 0;
    background-color: whitesmoke;

}
h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
}

.btn-outline-primary:hover{
    background-color:rgb(201, 202, 233);
    color:black;
}
.btn-outline-success:hover {
    background-color:rgb(210, 245, 219);
    color:black
}
.btn-outline-danger:hover{
    background-color:rgb(240, 187, 187);
    color: black;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
