.card{
    margin: 30px;
}

.card-header{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}


button{
    margin: 2px;
    color:rgb(22, 21, 21);
}

a{
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(87, 86, 86);
}
.row{
    padding: 15px;
    border: solid 1px;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(250, 227, 227);
}
h3{
    font-size: 15px;
    font-weight: bold;
}