.container{
    padding-top: 30px;
    width: 70%;
    border: 10px;
}

h2{
    padding-bottom: 30px;
}
li{
    font-size: 30px;
}


img{
    width: 50%;
    height: 300px;
}

.carousel-item{
    border: solid 2px;
    border-radius: 5%;
}

a{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}