<div class="container">
  <div class="cabecera">
      <h2>Cursos, capacitaciones y habilidades</h2>
      <a href="portfolio"><i class="bi bi-house-fill"></i></a>
  </div>
  <hr>
      <button (click)="crearHabilidad()" class=" btn btn-outline-primary"><i class="bi bi-file-earmark-plus-fill"></i> Agregar</button>
  <div *ngFor="let habil of habilidad">
      <div class="row">
          <div class="xs-8 col-9 " id="">
              <h3>{{habil.nombre}}</h3>
              <hr>
              <p>{{habil.descripcion}}</p>
          </div>
          <div class="botones">
            <button (click)="editarHabilidad(habil)" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i> Editar</button>
            <button (click)="borrarHabilidad(habil)" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i> Borrar</button>
          </div>
      </div>
  </div>
</div>